body{
    background-color: rgb(160, 103, 11);
}
h3 {
    background-color: rgb(116, 35, 110)
}

h2 {
	background-color: rgb(184, 25, 25)

}
button {
    background-color: rgb(0, 251, 255)
}
